Source: ptux-sdk-boneblack
Section: embedded
Priority: optional
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 10.0.0)
Standards-Version: 4.3.0
Vcs-Git: https://github.com/bgat/ptux-sdk-boneblack.git

Package: ptux-sdk-boneblack
Architecture: all
Description: Pragmatux SDK for Beaglebone Black
 Meta-package referencing SDK tools for the
 Beaglebone Black target (http://beagleboard.org)
Depends:
 ptux-sdk-armhf,
 mkos-boneblack,
 ${misc:Depends}

Package: ptux-sdk-boneblackwireless
Architecture: all
Description: Pragmatux SDK for Beaglebone Black Wireless
 Meta-package referencing SDK tools for the
 Beaglebone Black Wireless target (http://beagleboard.org)
Depends:
 ptux-sdk-armhf,
 mkos-boneblackwireless,
 ${misc:Depends}

Package: ptux-sdk-bonegreen
Architecture: all
Description: Pragmatux SDK for Beaglebone Green
 Meta-package referencing SDK tools for the
 Beaglebone Green target (http://beagleboard.org)
Depends:
 ptux-sdk-armhf,
 mkos-bonegreen,
 ${misc:Depends}

Package: ptux-sdk-bonegreenwireless
Architecture: all
Description: Pragmatux SDK for Beaglebone Green Wireless
 Meta-package referencing SDK tools for the
 Beaglebone Green Wireless target (http://beagleboard.org)
Depends:
 ptux-sdk-armhf,
 mkos-bonegreenwireless,
 ${misc:Depends}
